*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #fff;
  height: 100vh;
}
.app{
  background-color: #fff;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  height: 100vh;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  color: #fff;
}
.navdark{
  background-color: blueviolet;
}
.navlight{
  background-color: #282c34;
}
.menu ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}
.menuicon{
  display: none;
}
.icon{
  /* filter: invert(); */
  color: #fff;
}
nav button{
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.modeicon{
  width: 30px;
  height: 30px;
}
@media only screen and (max-width:700px) {
  nav{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
  }
  .menu ul{
    flex-direction: column;
  }
  .menuactive{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .menuactive ul{
    list-style: none;
  }
  .menu{
    display: none;
  }
  .navbar{
    padding: 0;
    flex-direction: column;
  }
  .menuicon{
    display: block;
  }
}